Fetching data from kaggle

In [1]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [2]:
import pandas as pd

In [3]:
import requests
from io import StringIO

url = "https://gist.githubusercontent.com/kevin336/acbb2271e66c10a5b73aacf82ca82784/raw/e38afe62e088394d61ed30884dd50a6826eee0a8/employees.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
pd.read_csv(data)

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20
5,203,Susan,Mavris,SMAVRIS,515.123.7777,07-JUN-02,HR_REP,6500,-,101,40
6,204,Hermann,Baer,HBAER,515.123.8888,07-JUN-02,PR_REP,10000,-,101,70
7,205,Shelley,Higgins,SHIGGINS,515.123.8080,07-JUN-02,AC_MGR,12008,-,101,110
8,206,William,Gietz,WGIETZ,515.123.8181,07-JUN-02,AC_ACCOUNT,8300,-,205,110
9,100,Steven,King,SKING,515.123.4567,17-JUN-03,AD_PRES,24000,-,-,90
10,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-SEP-05,AD_VP,17000,-,100,90
11,102,Lex,De Haan,LDEHAAN,515.123.4569,13-JAN-01,AD_VP,17000,-,100,90
12,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-JAN-06,IT_PROG,9000,-,102,60
13,104,Bruce,Ernst,BERNST,590.423.4568,21-MAY-07,IT_PROG,6000,-,103,60
14,105,David,Austin,DAUSTIN,590.423.4569,25-JUN-05,IT_PROG,4800,-,103,60
15,106,Valli,Pataballa,VPATABAL,590.423.4560,05-FEB-06,IT_PROG,4800,-,103,60
16,107,Diana,Lorentz,DLORENTZ,590.423.5567,07-FEB-07,IT_PROG,4200,-,103,60
17,108,Nancy,Greenberg,NGREENBE,515.124.4569,17-AUG-02,FI_MGR,12008,-,101,100
18,109,Daniel,Faviet,DFAVIET,515.124.4169,16-AUG-02,FI_ACCOUNT,9000,-,108,100
19,110,John,Chen,JCHEN,515.124.4269,28-SEP-05,FI_ACCOUNT,8200,-,108,100
20,111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-SEP-05,FI_ACCOUNT,7700,-,108,100
21,112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-MAR-06,FI_ACCOUNT,7800,-,108,100
22,113,Luis,Popp,LPOPP,515.124.4567,07-DEC-07,FI_ACCOUNT,6900,-,108,100
23,114,Den,Raphaely,DRAPHEAL,515.127.4561,07-DEC-02,PU_MAN,11000,-,100,30
24,115,Alexander,Khoo,AKHOO,515.127.4562,18-MAY-03,PU_CLERK,3100,-,114,30
25,116,Shelli,Baida,SBAIDA,515.127.4563,24-DEC-05,PU_CLERK,2900,-,114,30
26,117,Sigal,Tobias,STOBIAS,515.127.4564,24-JUL-05,PU_CLERK,2800,-,114,30
27,118,Guy,Himuro,GHIMURO,515.127.4565,15-NOV-06,PU_CLERK,2600,-,114,30
28,119,Karen,Colmenares,KCOLMENA,515.127.4566,10-AUG-07,PU_CLERK,2500,-,114,30
29,120,Matthew,Weiss,MWEISS,650.123.1234,18-JUL-04,ST_MAN,8000,-,100,50
30,121,Adam,Fripp,AFRIPP,650.123.2234,10-APR-05,ST_MAN,8200,-,100,50
31,122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-MAY-03,ST_MAN,7900,-,100,50
32,123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-OCT-05,ST_MAN,6500,-,100,50
33,124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-NOV-07,ST_MAN,5800,-,100,50
34,125,Julia,Nayer,JNAYER,650.124.1214,16-JUL-05,ST_CLERK,3200,-,120,50
35,126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-SEP-06,ST_CLERK,2700,-,120,50
36,127,James,Landry,JLANDRY,650.124.1334,14-JAN-07,ST_CLERK,2400,-,120,50
37,128,Steven,Markle,SMARKLE,650.124.1434,08-MAR-08,ST_CLERK,2200,-,120,50
38,129,Laura,Bissot,LBISSOT,650.124.5234,20-AUG-05,ST_CLERK,3300,-,121,50
39,130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-OCT-05,ST_CLERK,2800,-,121,50
40,131,James,Marlow,JAMRLOW,650.124.7234,16-FEB-05,ST_CLERK,2500,-,121,50
41,132,TJ,Olson,TJOLSON,650.124.8234,10-APR-07,ST_CLERK,2100,-,121,50
42,133,Jason,Mallin,JMALLIN,650.127.1934,14-JUN-04,ST_CLERK,3300,-,122,50
43,134,Michael,Rogers,MROGERS,650.127.1834,26-AUG-06,ST_CLERK,2900,-,122,50
44,135,Ki,Gee,KGEE,650.127.1734,12-DEC-07,ST_CLERK,2400,-,122,50
45,136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-FEB-08,ST_CLERK,2200,-,122,50
46,137,Renske,Ladwig,RLADWIG,650.121.1234,14-JUL-03,ST_CLERK,3600,-,123,50
47,138,Stephen,Stiles,SSTILES,650.121.2034,26-OCT-05,ST_CLERK,3200,-,123,50
48,139,John,Seo,JSEO,650.121.2019,12-FEB-06,ST_CLERK,2700,-,123,50
49,140,Joshua,Patel,JPATEL,650.121.1834,06-APR-06,ST_CLERK,2500,-,123,50

fetching data for a json file

In [6]:
df = pd.read_json('https://raw.githubusercontent.com/datablist/sample-csv-files/refs/heads/main/src/data/product_names.json')
df

                             0
0              Blender Blender
1                Trimmer Clock
2                 Router Phone
3                  Clock Brush
4                 Lock Bicycle
..                         ...
495                      Brush
496                    Freezer
497  Scanner Monitor Treadmill
498         Scooter Microphone
499         Radio Stove Shaver

[500 rows x 1 columns]

WARNING: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

Fetching data with using api

In [19]:
import requests
import json

url = 'https://twitter-api45.p.rapidapi.com/broadcast.php'

headers = {
    "Content - Type" : "application/json",
    "X-RapidAPI-Key": "7503d75717msh2142ac6a2325a92p117facjsnd474a5872eea",
    "X-RapidAPI-Host": "twitter-api45.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.status_code)
print(response.text)
data = response.json()

200
{"live":true,"spaces":{"id":"s","started":"s","created_at":"s","tags":"s","language":"s","locked":"s","total_watching":"s","watching":"s","web_watching":"s","status":"s","participants":[]}}

another example (cricbuzz datasets)

In [64]:
import requests

url = "https://cricbuzz-cricket.p.rapidapi.com/mcenter/v1/40381/hscard"

headers = {
	"x-rapidapi-key": "7503d75717msh2142ac6a2325a92p117facjsnd474a5872eea",
	"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

data = response.json()

In [67]:
data

{'scorecard': [{'inningsid': 1,
   'batsman': [{'id': 1114,
     'balls': 5,
     'runs': 5,
     'fours': 1,
     'sixes': 0,
     'strkrate': '100',
     'name': 'Stirling',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'lbw b Nisarg Patel',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 6710,
     'balls': 5,
     'runs': 10,
     'fours': 2,
     'sixes': 0,
     'strkrate': '200',
     'name': 'Balbirnie',
     'nickname': '',
     'iscaptain': True,
     'iskeeper': False,
     'outdec': 'c Sushant Modani b Netravalkar',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 11131,
     'balls': 56,
     'runs': 84,
     'fours': 9,
     'sixes': 3,
     'strkrate': '150',
     'name': 'Lorcan Tucker',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'b Netravalkar',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 18143,
     'balls': 11,
     'runs': 17,
     'fours': 2,
     'sixes': 1,
     'strkrate': '154.55',
     'name': 'Curtis Campher',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'c Marty Kain b Yasir Mohammad',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 6471,
     'balls': 10,
     'runs': 5,
     'fours': 0,
     'sixes': 0,
     'strkrate': '50',
     'name': 'Getkate',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'c Ritwik Behera b Vatsal Vaghela',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 13309,
     'balls': 5,
     'runs': 4,
     'fours': 0,
     'sixes': 0,
     'strkrate': '80',
     'name': 'Neil Rock',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': True,
     'outdec': 'c Ritwik Behera b Vatsal Vaghela',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 11129,
     'balls': 3,
     'runs': 1,
     'fours': 0,
     'sixes': 0,
     'strkrate': '33.33',
     'name': 'William McClintock',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'c Marty Kain b Nisarg Patel',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 10449,
     'balls': 4,
     'runs': 3,
     'fours': 0,
     'sixes': 0,
     'strkrate': '75',
     'name': 'Mark Adair',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'b Netravalkar',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 12769,
     'balls': 11,
     'runs': 13,
     'fours': 1,
     'sixes': 0,
     'strkrate': '118.18',
     'name': 'Simi Singh',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'c Ali Khan b Yasir Mohammad',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 10451,
     'balls': 1,
     'runs': 0,
     'fours': 0,
     'sixes': 0,
     'strkrate': '0',
     'name': 'Barry McCarthy',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'run out (Monank Patel)',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 11124,
     'balls': 2,
     'runs': 2,
     'fours': 0,
     'sixes': 0,
     'strkrate': '100',
     'name': 'Benjamin White',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'not out',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''}],
   'bowler': [{'id': 15475,
     'overs': '4',
     'maidens': 0,
     'wickets': 2,
     'runs': 29,
     'economy': '7.2',
     'name': 'Nisarg Patel',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'dots': 0,
     'balls': 40,
     'rpb': 0.72,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 9748,
     'overs': '3.5',
     'maidens': 0,
     'wickets': 3,
     'runs': 33,
     'economy': '8.6',
     'name': 'Netravalkar',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'dots': 0,
     'balls': 35,
     'rpb': 0.94,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 11450,
     'overs': '3',
     'maidens': 0,
     'wickets': 0,
     'runs': 34,
     'economy': '11.3',
     'name': 'Ali Khan',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'dots': 0,
     'balls': 30,
     'rpb': 1.13,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 22901,
     'overs': '4',
     'maidens': 0,
     'wickets': 2,
     'runs': 32,
     'economy': '8',
     'name': 'Yasir Mohammad',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'dots': 0,
     'balls': 40,
     'rpb': 0.8,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 22531,
     'overs': '3',
     'maidens': 0,
     'wickets': 2,
     'runs': 16,
     'economy': '5.3',
     'name': 'Vatsal Vaghela',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'dots': 0,
     'balls': 30,
     'rpb': 0.53,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 22891,
     'overs': '1',
     'maidens': 0,
     'wickets': 0,
     'runs': 5,
     'economy': '5',
     'name': 'Ritwik Behera',
     'nickname': '',
     'iscaptain': False,
     'iskeeper': False,
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'dots': 0,
     'balls': 10,
     'rpb': 0.5,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''}],
   'fow': {'fow': [{'batsmanid': 1114,
      'batsmanname': 'Stirling',
      'overnbr': 0.6,
      'runs': 6,
      'ballnbr': 6},
     {'batsmanid': 6710,
      'batsmanname': 'Balbirnie',
      'overnbr': 1.6,
      'runs': 20,
      'ballnbr': 12},
     {'batsmanid': 18143,
      'batsmanname': 'Curtis Campher',
      'overnbr': 6.1,
      'runs': 59,
      'ballnbr': 37},
     {'batsmanid': 6471,
      'batsmanname': 'Getkate',
      'overnbr': 9.5,
      'runs': 83,
      'ballnbr': 59},
     {'batsmanid': 13309,
      'batsmanname': 'Neil Rock',
      'overnbr': 11.4,
      'runs': 92,
      'ballnbr': 70},
     {'batsmanid': 11129,
      'batsmanname': 'William McClintock',
      'overnbr': 12.4,
      'runs': 96,
      'ballnbr': 76},
     {'batsmanid': 10449,
      'batsmanname': 'Mark Adair',
      'overnbr': 13.5,
      'runs': 102,
      'ballnbr': 83},
     {'batsmanid': 12769,
      'batsmanname': 'Simi Singh',
      'overnbr': 16.5,
      'runs': 128,
      'ballnbr': 101},
     {'batsmanid': 10451,
      'batsmanname': 'Barry McCarthy',
      'overnbr': 17.3,
      'runs': 134,
      'ballnbr': 105},
     {'batsmanid': 11131,
      'batsmanname': 'Lorcan Tucker',
      'overnbr': 18.5,
      'runs': 150,
      'ballnbr': 113}]},
   'extras': {'legbyes': 1,
    'byes': 0,
    'wides': 5,
    'noballs': 0,
    'penalty': 0,
    'total': 6},
   'score': 150,
   'wickets': 10,
   'overs': 18.5,
   'runrate': 7.96,
   'batteamname': 'Ireland',
   'batteamsname': 'IRE',
   'isdeclared': False,
   'isfollowon': False,
   'ballnbr': 113,
   'rpb': 1.33,
   'partnership': {'partnership': [{'id': 0,
      'bat1id': 1114,
      'bat1name': 'Stirling',
      'bat1runs': 5,
      'bat1fours': 1,
      'bat1sixes': 0,
      'bat2id': 6710,
      'bat2name': 'Balbirnie',
      'bat2runs': 1,
      'bat2fours': 0,
      'bat2sixes': 0,
      'totalruns': 6,
      'totalballs': 6,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 5,
      'bat1fours': 1,
      'bat1sixes': 0,
      'bat2id': 6710,
      'bat2name': 'Balbirnie',
      'bat2runs': 9,
      'bat2fours': 2,
      'bat2sixes': 0,
      'totalruns': 14,
      'totalballs': 6,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 22,
      'bat1fours': 3,
      'bat1sixes': 1,
      'bat2id': 18143,
      'bat2name': 'Curtis Campher',
      'bat2runs': 17,
      'bat2fours': 2,
      'bat2sixes': 1,
      'totalruns': 39,
      'totalballs': 25,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 19,
      'bat1fours': 3,
      'bat1sixes': 0,
      'bat2id': 6471,
      'bat2name': 'Getkate',
      'bat2runs': 5,
      'bat2fours': 0,
      'bat2sixes': 0,
      'totalruns': 24,
      'totalballs': 22,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 5,
      'bat1fours': 0,
      'bat1sixes': 0,
      'bat2id': 13309,
      'bat2name': 'Neil Rock',
      'bat2runs': 4,
      'bat2fours': 0,
      'bat2sixes': 0,
      'totalruns': 9,
      'totalballs': 11,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 3,
      'bat1fours': 0,
      'bat1sixes': 0,
      'bat2id': 11129,
      'bat2name': 'William McClintock',
      'bat2runs': 1,
      'bat2fours': 0,
      'bat2sixes': 0,
      'totalruns': 4,
      'totalballs': 6,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 3,
      'bat1fours': 0,
      'bat1sixes': 0,
      'bat2id': 10449,
      'bat2name': 'Mark Adair',
      'bat2runs': 3,
      'bat2fours': 0,
      'bat2sixes': 0,
      'totalruns': 6,
      'totalballs': 7,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 7,
      'bat1fours': 0,
      'bat1sixes': 0,
      'bat2id': 12769,
      'bat2name': 'Simi Singh',
      'bat2runs': 13,
      'bat2fours': 1,
      'bat2sixes': 0,
      'totalruns': 26,
      'totalballs': 18,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 6,
      'bat1fours': 0,
      'bat1sixes': 1,
      'bat2id': 10451,
      'bat2name': 'McCarthy',
      'bat2runs': 0,
      'bat2fours': 0,
      'bat2sixes': 0,
      'totalruns': 6,
      'totalballs': 4,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0},
     {'id': 0,
      'bat1id': 11131,
      'bat1name': 'Lorcan Tucker',
      'bat1runs': 14,
      'bat1fours': 2,
      'bat1sixes': 1,
      'bat2id': 11124,
      'bat2name': 'Benjamin White',
      'bat2runs': 2,
      'bat2fours': 0,
      'bat2sixes': 0,
      'totalruns': 16,
      'totalballs': 8,
      'bat1balls': 0,
      'bat2balls': 0,
      'teamname': '',
      'teamid': 0,
      'bat1ones': 0,
      'bat1twos': 0,
      'bat1threes': 0,
      'bat1fives': 0,
      'bat1boundaries': 0,
      'bat1sixers': 0,
      'bat2ones': 0,
      'bat2twos': 0,
      'bat2threes': 0,
      'bat2fives': 0,
      'bat2boundaries': 0,
      'bat2sixers': 0}]}},
  {'inningsid': 2,
   'batsman': [{'id': 22891,
     'balls': 23,
     'runs': 16,
     'fours': 1,
     'sixes': 0,
     'strkrate': '69.57',
     'name': 'Ritwik Behera',
     'nickname': 'Ritwik Behera',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'c Getkate b Mark Adair',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 22896,
     'balls': 11,
     'runs': 11,
     'fours': 2,
     'sixes': 0,
     'strkrate': '100',
     'name': 'Ryan Scott',
     'nickname': 'Ryan Scott',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'run out (Curtis Campher)',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 14732,
     'balls': 27,
     'runs': 26,
     'fours': 2,
     'sixes': 1,
     'strkrate': '96.3',
     'name': 'Monank Patel',
     'nickname': 'Monank Patel',
     'iscaptain': True,
     'iskeeper': True,
     'outdec': 'c Mark Adair b Benjamin White',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 12788,
     'balls': 20,
     'runs': 22,
     'fours': 1,
     'sixes': 1,
     'strkrate': '110',
     'name': 'Gajanand Singh',
     'nickname': 'Gajanand Singh',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'lbw b Curtis Campher',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 20217,
     'balls': 16,
     'runs': 27,
     'fours': 1,
     'sixes': 2,
     'strkrate': '168.75',
     'name': 'Sushant Modani',
     'nickname': 'Sushant Modani',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'c Lorcan Tucker b Curtis Campher',
     'videotype': '',
     'videourl': '',
     'videoid': 0,
     'planid': 0,
     'imageid': 0,
     'premiumvideourl': '',
     'iscbplusfree': False,
     'ispremiumfree': False,
     'inmatchchange': '',
     'isoverseas': False,
     'playingxichange': ''},
    {'id': 10699,
     'balls': 11,
     'runs': 11,
     'fours': 1,
     'sixes': 0,
     'strkrate': '100',
     'name': 'Marty Kain',
     'nickname': 'Marty Kain',
     'iscaptain': False,
     'iskeeper': False,
     'outdec': 'b Curtis Campher',
     'videotype': '',
     'videourl': '',

In [66]:
import pandas as pd
temp1 = pd.DataFrame(data['scorecard'][0]['batsman'])
temp2 = pd.DataFrame(data['scorecard'][1]['batsman'])
batsman = pd.concat([temp1, temp2], ignore_index=True)
batsman

,id,balls,runs,fours,sixes,strkrate,name,nickname,iscaptain,iskeeper,...,videourl,videoid,planid,imageid,premiumvideourl,iscbplusfree,ispremiumfree,inmatchchange,isoverseas,playingxichange
0,1114,5,5,1,0,100,Stirling,,False,False,...,,0,0,0,,False,False,,False,
1,6710,5,10,2,0,200,Balbirnie,,True,False,...,,0,0,0,,False,False,,False,
2,11131,56,84,9,3,150,Lorcan Tucker,,False,False,...,,0,0,0,,False,False,,False,
3,18143,11,17,2,1,154.55,Curtis Campher,,False,False,...,,0,0,0,,False,False,,False,
4,6471,10,5,0,0,50,Getkate,,False,False,...,,0,0,0,,False,False,,False,
5,13309,5,4,0,0,80,Neil Rock,,False,True,...,,0,0,0,,False,False,,False,
6,11129,3,1,0,0,33.33,William McClintock,,False,False,...,,0,0,0,,False,False,,False,
7,10449,4,3,0,0,75,Mark Adair,,False,False,...,,0,0,0,,False,False,,False,
8,12769,11,13,1,0,118.18,Simi Singh,,False,False,...,,0,0,0,,False,False,,False,
9,10451,1,0,0,0,0,Barry McCarthy,,False,False,...,,0,0,0,,False,False,,False,
10,11124,2,2,0,0,100,Benjamin White,,False,False,...,,0,0,0,,False,False,,False,
11,22891,23,16,1,0,69.57,Ritwik Behera,Ritwik Behera,False,False,...,,0,0,0,,False,False,,False,
12,22896,11,11,2,0,100,Ryan Scott,Ryan Scott,False,False,...,,0,0,0,,False,False,,False,
13,14732,27,26,2,1,96.3,Monank Patel,Monank Patel,True,True,...,,0,0,0,,False,False,,False,
14,12788,20,22,1,1,110,Gajanand Singh,Gajanand Singh,False,False,...,,0,0,0,,False,False,,False,
15,20217,16,27,1,2,168.75,Sushant Modani,Sushant Modani,False,False,...,,0,0,0,,False,False,,False,
16,10699,11,11,1,0,100,Marty Kain,Marty Kain,False,False,...,,0,0,0,,False,False,,False,
17,15475,6,10,2,0,166.67,Nisarg Patel,Nisarg Patel,False,False,...,,0,0,0,,False,False,,False,
18,22901,2,0,0,0,0,Yasir Mohammad,Yasir Mohammad,False,False,...,,0,0,0,,False,False,,False,
19,9748,6,5,0,0,83.33,Saurabh Netravalkar,Netravalkar,False,False,...,,0,0,0,,False,False,,False,
20,22531,0,0,0,0,0,Vatsal Vaghela,Vatsal Vaghela,False,False,...,,0,0,0,,False,False,,False,
21,11450,0,0,0,0,0,Ali Khan,Ali Khan,False,False,...,,0,0,0,,False,False,,False,

In [62]:
import pandas as pd
temp1 = pd.DataFrame(data['scorecard'][0]['bowler'])
temp2 = pd.DataFrame(data['scorecard'][1]['bowler'])
bowlers = pd.concat([temp1, temp2], ignore_index=True)
bowlers

,id,overs,maidens,wickets,runs,economy,name,nickname,iscaptain,iskeeper,...,dots,balls,rpb,planid,imageid,premiumvideourl,ispremiumfree,inmatchchange,isoverseas,playingxichange
0,15475,4,0,2,29,7.2,Nisarg Patel,,False,False,...,0,40,0.72,0,0,,False,,False,
1,9748,3.5,0,3,33,8.6,Netravalkar,,False,False,...,0,35,0.94,0,0,,False,,False,
2,11450,3,0,0,34,11.3,Ali Khan,,False,False,...,0,30,1.13,0,0,,False,,False,
3,22901,4,0,2,32,8,Yasir Mohammad,,False,False,...,0,40,0.80,0,0,,False,,False,
4,22531,3,0,2,16,5.3,Vatsal Vaghela,,False,False,...,0,30,0.53,0,0,,False,,False,
5,22891,1,0,0,5,5,Ritwik Behera,,False,False,...,0,10,0.50,0,0,,False,,False,
6,10449,4,0,1,25,6.2,Mark Adair,Mark Adair,False,False,...,0,40,0.62,0,0,,False,,False,
7,10451,4,0,0,24,6,Barry McCarthy,Barry McCarthy,False,False,...,0,40,0.60,0,0,,False,,False,
8,18143,4,1,4,25,6.2,Curtis Campher,Curtis Campher,False,False,...,1,40,0.62,0,0,,False,,False,
9,12769,4,0,0,31,7.8,Simi Singh,Simi Singh,False,False,...,0,40,0.78,0,0,,False,,False,
10,11124,3,0,1,27,9,Benjamin White,Benjamin White,False,False,...,0,30,0.90,0,0,,False,,False,
11,1114,1,0,0,4,4,Paul Stirling,Stirling,False,False,...,0,10,0.40,0,0,,False,,False,